html, body {width: 100%; height: 100%; margin: 0; font-family: Tahoma, sans-serif; background-color: #FFFFFF; overflow-x: hidden; zoom: 110%;}


/***** *** Kopfzeile *** *****/
#header {width: 100%; min-width: 750px; height: 50px; padding: 10px 0 10px 0; background-color: #F1F1F1; margin-bottom: 20px;}

	/* Icon und Titel */
	#header #caption {width: 400px; height: 100%; float: left;}
	#header #caption img {max-height: 100%; float: left; margin-left: 10px;}
	#header #caption h1 {margin: 8px 10px 0 10px; font-size: 30px; float: left;}
	#header #caption h4 {margin: 20px 0 0 0; color: #808080; float: left;}

	/* Stationsname und Menü-Button */
	#header #navi {width: 340px; height: 100%; float: right;}
	#header #navi img {padding: 10px; height: 30px; float: right; margin: 0 20px 0 20px; border-radius: 10px; cursor: pointer;}
	#header #navi h3 {font-size: 20px; float: right; margin: 12.5px 0; color: #808080;}
	#header #navi h3 span#support {color: red; font-size: 10px; vertical-align: middle;}
	#header #navi h3 span#spacer {color: rgba(128, 128, 128, 0.4);}

	/* Menü */
	#menu {width: 52px; position: absolute; background-color: #333F4F; right: 18px; border-top: 1px solid #333F4F; margin-top: -14px; display: none; z-index: 1;}
	#menu img {width: 32px; height: 32px; margin: 5px; padding: 5px; border-radius: 5px;}
	#menu img:hover {background-color: rgba(77, 97, 124, 0.5);}
	#menu #menu-triangle {width: 0; height: 0; border-left: 26px solid transparent; border-right: 26px solid transparent; border-bottom: 26px solid #333F4F;
		position: absolute; margin-top: -26px;}



/***** *** Content-Overlays *** *****/
#overlay-wrapper {width: 700px; margin: 0 auto;}
#overlay {width: 700px; top: 70px; position: absolute; z-index: 1; background-color: #FFFFFF; display: none; height: 80%;}

	/* Titelleiste und Close-Button */
	#overlay #headline {width: auto; background-color: #F7F7F7; padding: 10px; height: auto;}
	#overlay #headline #title {color: #808080; margin: 0; display: inline-block; width: auto; font-size: 20px}
	#overlay #headline #close {display: inline-block; width: 25px; float: right; cursor: pointer;}
	#overlay #headline #close:hover {border-radius: 10px; background-color: #FF4949; padding-bottom: 0.1px}
	#overlay #headline #hint {float: right; margin: 3px 15px 0 0; width: 400px; text-align: right; overflow: hidden; white-space: nowrap;}

	/* Content */
	#overlay #context {margin: 15px 5px 15px 15px; height: inherit; overflow: hidden; position: relative;}

	#overlay .ppinform {width: 235px; margin: 0 auto;}
	#overlay .ppinform input {text-align: center; width: 39px; height: 37px; vertical-align: top; font-size: 27px;}
	#overlay #reqppin {position: absolute; background-color: #FFFFFF; width: 100%; height: 83%; z-index: 1; padding-top: 50px;}
	#overlay #reqppin p {margin: 0 auto 25px auto; text-align: center;}

	#overlay input {height: 37px;}
	#overlay button.imgbutton {padding: 5px; vertical-align: top; margin: 0;}
	#overlay button.imgbutton img {width: 29px; vertical-align: top}
	#overlay button.imgbutton p {display: inline-block; margin: 2px 0 0 3px;}
	#overlay button.imgbutton[disabled] {opacity: 0.4;}



/***** *** Login Formular *** *****/
#login {width: 334px; background-color: rgba(51, 153, 255, 0.5); padding: 5px; margin: 0 auto 0 auto;}
#login input {width: 300px; font-size: 25px; padding: 10px; margin: 5px;}
#login input[type=submit] {width: 324px;}



/***** *** Benachrichtigungen und Broadcasts *** *****/
#notifications {margin-bottom: 50px; min-height: 15px;}
.notification {width: 800px; padding: 10px; margin: 0 auto 10px auto; border-bottom: 3px solid;}
.notification div {display: inline-block;}
.notification img {height: 48px; display: inline-block; padding-right: 10px; border-right: 1px solid #D7D7D7; margin-right: 10px; vertical-align: top;}
.notification p {width: 720px; margin: 5px 0 10px 0; text-align: justify;}
.notification h5 {color: #A5A5A5; margin: 5px 0 5px 0; font-size: 11px;}

.notification h5.br {margin-top: 9px; display: inline-block; vertical-align: top;}
.notification h1 {font-size: 15px; margin: 5px 10px 0 0; max-width: 600px; overflow: hidden; display: inline-block;}

	/* verschiedene Color-Styles */
	.notification.error {background-color: rgba(255, 0, 0, 0.2); border-bottom-color: #FF0000;}
	.notification.warning {background-color: rgba(255, 203, 0, 0.2); border-bottom-color: #FFC200; }
	.notification.note {background-color: rgba(51, 153, 255, 0.2); border-bottom-color: #6666FF;}
	.notification.success {background-color: rgba(6, 229, 0, 0.2); border-bottom-color: #00B302;}



/***** *** Platzhalter-Meldungen *** *****/
#placeholder {width: 630px; margin: 0 auto 50px auto; position: relative; left: -50%;}
#placeholder img {margin-right: 15px;}
#placeholder #caption {display: inline-block; vertical-align: top; width: 480px;}
#placeholder #caption h3 {vertical-align: top; margin: 32.5px 0 5px 0;}
#placeholder #caption p {margin: 0; font-size: 13px;}



/***** *** Wettbewerbsreferenzen *** *****/
#references-wrap {width: 100%; float: left;}
#references {max-width: 965px; margin: 0 auto 0 auto; position: relative; float: left; left: 50%;}
.references {display: inline-block; margin: 0 30px 30px 0; vertical-align: top; position: relative; left: -50%;}
.references .brand {display: inline-block;}
.references .brand img {margin: 10px 5px 0 0; width: 95px;}
.references .brand p {margin: 5px 10px 0 0; text-align: center;}
.references .prices {display: inline-block; border-left: 1px solid #D7D7D7; padding: 10px; vertical-align: top; min-height: 90px;}
.references .prices ul {list-style: none; padding: 0; margin: 0 0 0 5px;}
.references .prices li {padding: 5px 0 5px 0; max-width: 175px; height: 21px;}
.references .prices li p {margin: 0; padding: 0; display: inline-block; vertical-align: middle;}
.references .prices li span {float: right; margin-left: 15px;}
/*.references .prices li img {width: 20px; height: 20px; display: inline-block; margin: 2px 12px 0 0; float: right;} old dev test */

	/* Fußzweile */
	#reference-bottom {width: 450px; margin: 0 auto 30px auto; font-size: 12px; color: #808080; text-align: center; display: none;}



/***** *** Preload *** *****/
#preload {position: absolute; top: -999px; left: -999px;}
#preload * {position: absolute;}



/***** *** Debug-Log *** *****/
#debug {width: 800px; background-color: rgba(241, 241, 241, 0.8); position: fixed; top: 75px; left: 5px; padding: 0px 5px 5px 5px; max-height: 90%; overflow: hidden; z-index: 2;}
#debug div.entry {width: 100%; font-size: 13px;}
#debug p.time {width: 90px;}
#debug p.type {width: 50px;}
#debug div.text {display: inline-block; width: 640px}
#debug div p.readable {max-width: 550px;}
#debug div p.data {float: right;}
#debug div p.data span {color: #0080C0; cursor: help;}
#debug p {display: inline-block; vertical-align: top; margin: 5px 0 5px 0;}

	/* Menü */
	#debug #selection {border-bottom: 2px rgba(195, 195, 195, 0.8) solid; background-color: #F3F3F3; width: 790px; position: fixed; padding-top: 2px;}
	#debug #selection p {background-color: rgba(212, 212, 212, 0.5); padding: 3px; font-size: 13px; cursor: pointer;}
	#debug #selection p.selected {background-color: rgba(212, 212, 212, 1);}

	/* Content Container */
	#debug #logs > div {display: none; margin-top: 35px;}
	#debug #logs > div.selected {display: block;}

	/* Debug-Log Anzeige im Overlay */
	#overlay #logs div.entry {width: 100%; font-size: 11px;}
	#overlay #logs p.time {width: 70px;}
	#overlay #logs p.type {width: 40px;}
	#overlay #logs div.text {display: inline-block; width: 530px}
	#overlay #logs div p.readable {max-width: 450px;}
	#overlay #logs div p.data {float: right;}
	#overlay #logs div p.data span {color: #0080C0; cursor: help;}
	#overlay #logs p {display: inline-block; vertical-align: top; margin: 5px 0 5px 0;}



/***** *** Fußzeile *** *****/
#footer {position: absolute; bottom: 0; padding: 10px; font-size: 12px; color: #808080; right: 0;}