#current_version {display: inline-block; color: #808080; margin: 0 30px 0 0; float: right;}

.version {margin-bottom: 35px;}
.version .build {display: inline-block; margin: 0 10px 10px 0;}
.version .date {display: inline-block; color: #808080; margin: 0;}

.version .change {margin-bottom: 5px;}
.version .change .icon {width: 12px; display: inline-block; vertical-align: top; margin: 3px 2px 0 0;}
.version .change .description {display: inline-block; width: 630px; margin: 0;}
.version .change .description.hidden_changes {color: #808080; font-size: 13px;}