#overlay #context {margin-left: 0px !important; margin-top: 0px !important;}



/***** *** Allgemein *** *****/
#overlay #option-wrapper {width: 680px;}



/***** *** Menü *** *****/
#overlay #option-wrapper #option-menu {width: 300px; position: fixed;}
#overlay #option-wrapper #option-menu .option-menu-entry {background-color: #F7F7F7; margin-top: 4px; padding-left: 10px; cursor: pointer;}
#overlay #option-wrapper #option-menu .option-menu-entry.active {background-color: lightsteelblue; border-right: 5px solid darkorange;}
#overlay #option-wrapper #option-menu .option-menu-entry img {width: 24px; height: 24px; display: inline-block; vertical-align: middle;}
#overlay #option-wrapper #option-menu .option-menu-entry p {margin: 10px 0 10px 0; width: 230px; overflow: hidden; white-space: nowrap; display: inline-block; vertical-align: middle;}



/***** *** Content-Bereich *** *****/
#overlay #option-wrapper #option-content {float: right; width: 370px; margin-top: 5px;}
#overlay #option-wrapper #option-content > div  {display: none;}
#overlay #option-wrapper #option-content p.desc {margin: 0 0 30px 0; text-align: justify;}

	/* Stationspasswort */
	#overlay #option-wrapper #option-content #passwd #value {width: 238px; margin: 0 auto 0 auto;}
	#overlay #option-wrapper #option-content #passwd #value input {width: 180px; font-size: 27px; vertical-align: top; padding-left: 5px;}

	/* Kontaktdaten */
	#overlay #option-wrapper #option-content #contact table {margin: 0 0 0 15px;}
	#overlay #option-wrapper #option-content #contact tr td:first-of-type {font-size: 11px; width: 50px;}
	#overlay #option-wrapper #option-content #contact input {width: 250px; font-size: 20px; vertical-align: top; padding-left: 5px;}
	#overlay #option-wrapper #option-content #contact tr.noedit input {opacity: 0.8; background-color: #F7F7F7;}
	#overlay #option-wrapper #option-content #contact tr:last-of-type {text-align: right; height: 55px;}
	#overlay #option-wrapper #option-content #contact tr:last-of-type td button {margin-left: 5px;}

	/* Öffnungszeiten */
	#overlay #option-wrapper #option-content #ohours table {margin: 0 auto;}
	#overlay #option-wrapper #option-content #ohours td {font-size: 11px;}
	#overlay #option-wrapper #option-content #ohours td:first-of-type {width: 70px;}
	#overlay #option-wrapper #option-content #ohours td:nth-of-type(3) {width: 30px; text-align: center;}
	#overlay #option-wrapper #option-content #ohours input {font-size: 16px; padding: 3px}

	/* Support */
	#overlay #option-wrapper #option-content #support #action {margin: 0 auto; width: 210px;}